@import "../../../styles/variables";
.filter_panel {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  margin: 20px 0;
  transition: all 0.3s ease;

  .react-datepicker-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .date_picker {
    display: block;
    width: 100%;
    height: 45px;
    // background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    border-color: $purple-color !important;
    color: $purple-color;
    transition: all ease-in-out 0.5s;

    &:active,
    &:focus {
      outline: 0;
      border: 1px solid #ddd;
    }
    &:hover {
      border-color: #9375aa;
      box-shadow: 0 4px 10px rgba(84, 45, 114, 0.5);
    }
  }
}
.invoice_tbl {
  th {
    width: fit-content;
    white-space: nowrap;
  }
  .payedInvoice {
    background-color: $dark-green-color;
    td {
      background-color: $dark-green-color;
      padding: 10px 5px !important;
      width: fit-content;
      white-space: nowrap;
    }
  }
  .NotPayedInv {
    td {
      padding: 10px 5px !important;
      white-space: nowrap;
      width: fit-content;
    }
  }
  // .grid_btn {
  //   min-width: 100px;
  // }
  // .status-text {
  //   font-weight: 500;
  //   font-size: 1.1em;

  //   &.status-1 {
  //     // pending
  //     color: #ffa500;
  //   }

  //   &.status-2 {
  //     // checkout
  //     color: #542d72;
  //   }

  //   &.status-3 {
  //     // paid
  //     color: #00bc82;
  //   }
  // }
  // .status-icon {
  //   font-size: 1.2rem;

  //   &.pending {
  //     color: #ffa500; // Orange for pending
  //   }

  //   &.checkout {
  //     color: #542d72; // Purple for checkout (matches your theme)
  //   }

  //   &.paid {
  //     color: #00bc82; // Green for paid
  //   }
  // }
}
.filter-toggle-btn {
  transition: all 0.3s ease;

  &:hover {
    background-color: #f8f9fa;
  }
}
