
  .ques-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    max-height:600px;
  }
  .questions-heading {
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #542D72;
  }
  /* Form Styling */
  .form-control,
  .form-select {
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
  }
  
  .btn-primary {
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #542d72;
    border-color: #542d72;
  }
  
  .btn-primary:hover {
    background-color: #b181d6;
    border-color: #b181d6;
  }
  
  /* Table Styling */
  .table-wrapper {
    margin-top: 30px;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th {
    background-color: #f1e6fb;
    color: #542d72;
    text-align: center;
    padding: 15px;
  }
  
  .table td {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ddd;
  }
  .yellow-btn{
    color: white;
    background-color: #ffb300e0 !important;
  }
  .yellow-btn:hover{
    color: white;
    background-color: #ffb300cb !important;
  }
  
  input.form-control:hover,
  input.form-control:focus,
  select.form-select:hover,
  select.form-select:focus {
    border-color: #9375aa;
    box-shadow: 0 4px 10px rgba(84, 45, 114, 0.5);
  }