//colors

$purple-color: #542d72;
$dark-green-color: #00bc82;
$violet-color: #b181d8;
$light-green-color: #36d9a7;
$yellow-color: #f9f871;
$pink-color: #ff5e78;

$primary-color: #542D72;
$secondary-color: lighten($primary-color, 20%);
$light-color: #f8f9fa;
$dark-color: #343a40;
$yellow-btn: #ffb300e0;
$yellow-btn-hover: #ffb300cb;

//mediaqueries
$maxMobile: 767px;
$minMedium: 992px;
$minSmall: 768px;
$mediumMedia: 1000px;
