@import "./variables";
.purbleBtn {
  background-color: $purple-color !important;
  border-color: $purple-color !important;
  color: white !important;
}
.transBtn {
  background-color: transparent !important;
  border-color: $purple-color !important;
  color: $purple-color !important;
}
.FullWidthBtn {
  width: 100% !important;
  height: 45px !important;
  border-radius: 5px !important;
  margin: 30px 0 !important;
  border-width: 1px !important;
  font-size: 20px !important;
  @media only screen and (max-width: 900px) {
    font-size: 15px;
  }
}
.SmallWidthBtn {
  width: 300px;
  height: 45px !important;
  margin: 30px 0;
  border-width: 1px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  @media only screen and (max-width: 900px) {
    font-size: 15px !important;
    width: auto !important;
  }
}
.roundedBtn {
  border-radius: 50px !important;
}
.formInput {
  width: 100%;
  height: 50px !important;
  border-radius: 5px;
  border-width: 1px;
  border-color: $purple-color !important;
  color: $purple-color;
  margin-bottom: 10px;
}
.formLabel {
  font-size: 18px;
  color: #000;
  //margin: 10px 0;
}
.centerSection {
  text-align: center;
  width: 100%;
  height: 100%;
  // padding: 20px;
}
.logo_img {
  width: 200px;
  height: auto;
}
.centerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  div {
    margin: 20px 0;
  }
}
.alert-main {
  padding: 20px;
  border-radius: 6px;
  .alert-header {
    color: $purple-color;
  }
  .alert-button {
    width: 200px;
  }
}
.errorTxt {
  color: red !important;
}

.right {
  direction: rtl;
  text-align: right;
}
.left {
  direction: ltr;
  text-align: left;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
}
.marked {
  color: $dark-green-color;
}

.yellow-btn {
  color: white;
  background-color: $yellow-btn !important;
  &:hover {
    color: white;
    background-color: $yellow-btn-hover !important;
  }
}
.red-btn {
  color: #fff !important;
  background-color: red !important;
  border-color: red !important;
  &:hover {
    color: white;
    background-color: red !important;
    border-color: red !important;
  }
}
.green-btn {
  color: #fff !important;
  background-color: #00bc82 !important;
  border-color: #00bc82 !important;
  &:hover {
    color: white;
    background-color: #00bc82 !important;
    border-color: #00bc82 !important;
  }
}
.purple-btn {
  color: white;
  background-color: $primary-color !important;
  &:hover {
    color: white;
    background-color: $primary-color !important;
  }
}

input.form-control:hover,
input.form-control:focus,
select.form-select:hover,
select.form-select:focus {
  border-color: #9375aa;
  box-shadow: 0 4px 10px rgba(84, 45, 114, 0.5);
}

.result_list {
  margin: 20px 0;
  .accordion {
    margin-bottom: 20px;
  }
  th {
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
  }
  td {
    padding: 10px;
    text-align: center;
  }
  .action_btn {
    margin: 0 3px;
    background-color: transparent !important;
    border: 0;
    color: #00bc82;
    &:hover {
      background-color: transparent !important;
      border: 0;
    }
  }
  .accordion-button {
    background-color: #f1e6fb;
    color: #3f3f3f !important;
    font-weight: bold;
    &:hove {
      border-color: #542d72 !important;
    }
  }
}
.btn-primary {
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $dark-green-color;
  border-color: $dark-green-color;
}
