.result_list{
.accordion{
    margin-bottom: 20px;
}
th{
    text-align: center;
     padding: 10px;
     text-transform: capitalize;
}
td{
    padding: 10px;
    text-align: center;
}
.action_btn{
    margin: 0 3px;
    background-color: transparent !important;
    border: 0;
    color: #00bc82;
    &:hover{
        background-color: transparent !important;
        border: 0;
    }
}
.accordion-button{
    background-color: #b181d8;
    color: white !important;
}



}

.feature-table{
    height: 335px;
    overflow-y: auto;
}
.mt-30{
    margin-top:30px;
}